<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Qualification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <Qualification.Properties.Settings>
            <setting name="Matelas" serializeAs="String">
                <value>%CPPMatelas%</value>
            </setting>
            <setting name="UrlPrefix" serializeAs="String">
                <value>service-qualif</value>
            </setting>
            <setting name="Certificat" serializeAs="String">
                <value>%CPPCertFile%</value>
            </setting>
            <setting name="CertificatPassword" serializeAs="String">
                <value>%CPPCertPassword%</value>
            </setting>
            <setting name="URI" serializeAs="String">
                <value>https://chorus-pro.gouv.fr:5443</value>
            </setting>
        </Qualification.Properties.Settings>
    </applicationSettings>
</configuration>
